<%-# Sign up -%>
<div class="container">

    <h1>Log in</h1>
        <%=form_for @farmer, controller: 'farmers', action: 'log_in' do |f| %>
                <div class="field">
                    <%= f.label :username %>
                    <%= f.text_field :username %>
                </div>

                <div class="field">
                    <%= f.label :password %>
                    <%= f.text_field :password %>
                </div>

            <%= f.submit "Sign Up" %>
        <%end%>
</div>
 
