<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @farmer.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @farmer.name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @farmer.password_digest %>
</p>

<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
