<div class="container">
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item.value %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<br>
<p id="comment-heading"> Comments </p>
<ul id="comment-list">
  <% @item.comments.each do |comment|%>
    <li><%= comment.content%></li>
    <%end%>
</ul>
<br>
<p>_____________</p>
<h2> Quick Calculator </h2>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>