<div class="container">
<br>
<p id="notice"><%= notice %></p>
<br>
<div class= "bg-secondary increase">
<p >
  <strong>Product:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price per pound:</strong>
  <%= @item.value %> lbs
</p>

<p>
  <strong>Total Available:</strong>
  <%= @item.weight %> lbs
</p>

<p>
  <strong>Source:</strong>
  <%= @item.location %>
</p>
</div>
<div>
<button id="load-items">Load items</button>
</div>

<br>
<p class="text-info" id="comment-heading"> Comments </p>
<ul id="comment-list">
  <% @item.comments.each do |comment|%>
    <li class="comment"><%= comment.content%></li>
    <%end%>
</ul>


<%= form_tag("/items/#{@item.id}/add", method: "post", id: "add-comment") do %>
  <%= label_tag(:content, "") %>
  <%= text_area_tag(:content) %>
  <%= submit_tag("Add Comment") %>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
</div>